* {
    margin: 0;
    padding: 0;
  }
  body {
    align-content:center;
    vertical-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center; 
  }

  .container {
    display:flex;
    align-items:center;
    justify-content:center;
  }

  #hexGrid {
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(4,fr);
    width: 350px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    list-style-type: none;
    overflow:hidden;
    
  }
  
  .hex {
    grid-column-end: span 2;
    position: relative;
    visibility:hidden;
    background-color:solid yellow;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
 
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:100%;
    padding-bottom: 115.470%; /* =  width / sin(60) */
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffd300d1;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }

  #center-letter{
    background-color:#b7afafe6;
  }

  input[type="text"]
  {
      background: transparent;
      border: none;
  }
  
/*** HEX CONTENT *************************************************************/

  .hex p {
    width: 100%;
    padding: 42%;
    box-sizing:border-box;
    background-color:transparent;
    font-weight: 550;
    font-size:30px;
    color:black;
    font: bold;
  }
/*** HEX HOVER *****************************************************************/
  .hexLink:hover p, .hexLink:focus p{
    background-color: #ffb103c2
  }

  #center-letter.hexLink:hover p, #center-letter.hexLink:focus p{
    background-color: gray
  }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *********************************/
  
  #hexGrid{
    grid-template-columns: repeat(6,2fr);
    padding-bottom: 7.4%;
    margin-bottom:40px;
  }
  .hex:nth-child(5n+1){ /* first hexagon of odd rows */
    grid-column-start: 2;
  }
  .hex:nth-child(5n+3){ /* first hexagon of even rows */
      grid-column-start: 1;
  }

/*** INPUT & CURSOR ********************************************************************/

  #testword {
    
    height:50px; 
    text-align: center;  
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    padding-top:3px;
  }

  #cursor {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 100;
  
  }
  .cursor {
    position: relative;
    margin: 0 auto;
    margin-bottom:40px; 
  }

/*** TEXT **********************************************************************/
h1 {
  text-align: center;
  margin-top:50px; 
  margin-bottom:50px; 
  font-family: 'Open Sans', sans-serif;
}

.scoreText {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  align-self:center;
}

ul {
  /*display:inline-block;*/
  list-style-type: none;
  text-align: center;
}

.discoveredText {
  font-family: 'Open Sans',  sans-serif;
  font-size: 20px;
  align-self:center;
}


/*** BUTTONS *******************************************************************/
.button {
  background-color: white; 
  border: 2px solid #e7e7e7;
  margin: 0 auto;
  color: black;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

/*** NOTIFICATIONS AND SHAKE EFFECT ****************************************************************/

#too-short{
  display:none;
  width: 60px;
}
#invalid-word{
  display:none;
  width: 75px;
}
#already-found{
  display:none;
  width: 85px;
}
#miss-center{
  display:none;
  width:125px;
}
#good{
  display:none;
  background-color:white; 
  color:black; 
  border:1px solid rgb(179, 177, 177);
}
.notifications {
  background-color:black; 
  color:white; 
  display:flex;
  padding:5px;
  align-items:center;
  justify-content:center;
  border-radius:3px;
  font-family: 'Calibri Light',sans-serif;
  font-size: 13px;
}
