* {
    margin: 0;
    padding: 0;
  }
  body {
    align-content:center;
    vertical-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center; 
  }

  .container {
    display:flex;
    justify-content:center;
  }

  #scoreboard{
    flex-direction:column;

  }

  #hexGrid {
    display: grid;
    grid-gap:6px;
    grid-template-columns: repeat(4,fr);
    width: 250px;
    margin: 0 auto;
    font-size:.9em;
    list-style-type: none;
    overflow:hidden;
    
  }
  
  .hex {
    grid-column-end: span 2;
    position: relative;
    visibility:hidden;
    background-color:solid yellow;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
 
  .hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
  }
  .hexIn{
    position: absolute;
    width:100%;
    padding-bottom: 115.470%; /* =  width / sin(60) */
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  }
  .hexIn * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  }
  .hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffd300d1;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  }

  #center-letter{
    background-color:#b7afafe6;
  }

  input[type="text"]
  {
      background: transparent;
      border: none;
  }
  
/*** HEX CONTENT *************************************************************/

  .hex p {
    width: 100%;
    padding: 38%;
    box-sizing:border-box;
    background-color:transparent;
    font-weight: 800;
    font-size:1.4em;
    color:black;
    font-family: 'Open Sans', sans-serif;
    
  }
/*** HEX HOVER *****************************************************************/
  .hexLink:hover p, .hexLink:focus p{
    background-color: #ffb103c2
  }

  #center-letter.hexLink:hover p, #center-letter.hexLink:focus p{
    background-color: gray
  }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *********************************/
  
  #hexGrid{
    grid-template-columns: repeat(6,2fr);
    padding-bottom: 5.4%;
    margin-bottom:2vh;
  }
  .hex:nth-child(5n+1){ /* first hexagon of odd rows */
    grid-column-start: 2;
  }
  .hex:nth-child(5n+3){ /* first hexagon of even rows */
      grid-column-start: 1;
  }

/*** INPUT & CURSOR ********************************************************************/

  #testword {
    
    height:50px; 
    text-align: center;  
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding-top:3px;
  }

  #cursor {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    height:6vw;
    color: rgb(255, 187, 0);
  
  }
  .cursor {
    position: relative;
    margin: 0 auto;
    margin-bottom:10px; 
  }

/*** TEXT **********************************************************************/
h1 {
  text-align: center;
  margin-top:4vh; 
  margin-bottom:1vhpx; 
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
}

.scoreText {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight:100;
  align-self:center;
}

ul {
  /*display:inline-block;*/
  list-style-type: none;
  text-align: center;
}

#discoveredText {
  font-family: 'Open Sans',  sans-serif;
  font-size: 15px;
  align-self:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.dwords{
  font-weight:100;
  padding:0

}


/*** BUTTONS *******************************************************************/
#shuffle_button {
  padding: 10px 10px;
}

.button_container {
 display:-webkit-inline-flex; 
 margin-bottom:5vh; 
 width: 300px;
 height: 10%;

}
.button {
  background-color: white; 
  border: 2px solid #e7e7e7;
  margin: 0 auto;
  color: black;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  border-radius:30px;
  cursor: pointer;
}

.button:hover {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

/*** NOTIFICATIONS AND SHAKE EFFECT ****************************************************************/

#too-short{
  display:none;
}
#invalid-word{
  display:none;
  
}
#already-found{
  display:none;

}
#miss-center{
  display:none;

}
#good{
  display:None;
  background-color:white; 
  color:black; 
  border:1px solid rgb(179, 177, 177);
}

#great{
  display:None;
  background-color:white; 
  color:black; 
  border:1px solid rgb(179, 177, 177);
}

#pangram{
  display:None;
  background-color:white; 
  color:black; 
  border:1px solid rgb(179, 177, 177);
}

#amazing{
  display:None;
  background-color:white; 
  color:black; 
  border:1px solid rgb(179, 177, 177);
}


.notifications {
  background-color:black; 
  color:white; 
  display:flex;
  padding:5px;
  align-items:center;
  justify-content:center;
  border-radius:3px;
  font-family: 'Calibri Light',sans-serif;
  font-size: .6em;
}
